.tree {
  display: flex;
  overflow: auto;
  width: 100%;
  padding: 15px 0;

  &__row {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
    align-items: center;
  }
}
$line-color: #bfc0c1;
$line-size: 1px;

%tree__horizontal-line {
  content: '';
  display: block;
  position: absolute;
  width: $line-size;
  right: 50%;
  background-color: $line-color;
}

%tree__vertical-line {
  content: '';
  display: block;
  position: absolute;
  top: -35px;
  height: $line-size;
  background-color: $line-color;
}

.first-level .tree__row {
  &:before {
    top: -70px;
    height: 35px;
    @extend %tree__horizontal-line;
  }
}

.first-level .tree__column {
  &:after {
    top: -35px;
    height: 30px;
    @extend %tree__horizontal-line;
  }
}

.first-level .tree__row > .tree__column:last-child {
  &:before {
    width: 50%;
    right: 50%;
    @extend %tree__vertical-line;
  }
}

.first-level .tree__row > .tree__column:first-child {
  &:before {
    width: 50%;
    left: 50%;
    @extend %tree__vertical-line;
  }
}

.first-level .tree__row > .tree__column {
  &:before {
    left: 0;
    right: 0;
    @extend %tree__vertical-line;
  }
}

.tree__column--single .tree__column {
  &:before {
    display: none !important;
  }
}
