<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>

  <body>
    <root>
      <div
        style="margin: 40px auto"
        data-plugin_tree='{"ajax":{ "url":"./treeItems.json", "params": {}}}'
      ></div>
    </root>

    <%= htmlWebpackPlugin.tags.bodyTags %>
    <script type="text/javascript"></script>
  </body>
</html>
